.page {
    max-width: 1300px;
    margin: 30px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: 2px solid black;
    margin-right: 30px;
}

.summary-requirements {
    color: darkgrey;
    font-size: 20px;
    display: inline-block;
    margin-left: 10px;
}

.booking-button {
    width: 200px;
    height: 36px;
    float: right;
}