<div class="select">
  <mat-select [placeholder]="placeholder" [(value)]="meet.place">
    <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
  </mat-select>
</div>
<input class="calendar" matInput disabled [min]="meet.minDate" [matDatepicker]="dp1" [formControl]="meet.date" (dateChange)="change()">
<mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
<mat-datepicker #dp1 disabled="false"></mat-datepicker>
<input class="calendar" [(ngModel)]="meet.hours" (change)="meet.checkHours()">