.order {
    width: 570px;
    height: 382px;
    background-image: url('https://carnet.pl/themes/cn/images/kokpit1.jpg');
}

.order2 {
    padding: 20px;
}

.order-row {
    padding: 10px 0px;
}

.order-button {
    margin-top: 20px;
    float: right;
}

.title {
    color: white;
    font-size: 40px;
    margin: 0px;
}